@media (max-width: 1440px) {
	#splash {
		.half {
			transform: scale(0.8);
		}
	}
}
@media (max-width: 1024px) {
	#splash {
		.half {
			width: 100%;
			display: block;
			transform: scale(0.5);
		}
		#video {
			right: -100px;
		}
	}
	#modal {
		#tour {
			transform: scale(1);
			&.show {
				justify-content: flex-start;
			}
			ul {
				width: auto;
				padding-bottom: 150px;
				li {
					width: 300px;
					margin: 25px auto;
					.wrap {
						width: auto;
						display: block;
						font-size: 10pt;
						margin: 10px 0;
						span {
							&.venue,
							&.date,
							&.location,
							&.continent {
								width: auto;
							}
							&.date {
								display: block;
								font-size: 14pt;
							}
							&.continent,
							&.location {
								display: inline-block;
							}
							&.continent {
								&:before {
									content: "-";
									display: inline-block;
									padding: 0 5px;
								}
							}
						}
					}
					.buy {
						width: 100%;
						display: block;
						margin: 0 auto;
						padding: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) and (max-height:1366px) {
	#splash {
		background: url('../img/oxnard_albumn.jpg') no-repeat scroll center / cover #f7efe4;
		background-size: 75%;
		background-position: 50% 0;
		.half {
			transform: translate(0,-50px) scale(0.7);
		}
		#title {
			width: 80%;
			margin: 0 auto;
			padding: 50vh 0 0;
		}
		#videoWrap {
			display: none;
		}
		#musicLinks {
			transform: translate(0,0);
		}
	}
}
@media (max-width: 1024px) and (max-height:768px) {
	#splash {
		background: url('../img/oxnard_albumn.jpg') no-repeat scroll center / cover #f7efe4;
		background-size: 75%;
		background-position: 150% 0;
		.half {
			width: 50%;
			display: inline-block;
			transform: translate(0,-50px) scale(0.7);
		}
		#title {
			width: 100%;
			margin: 0 auto;
			padding: 30vh 0 0;
		}
		#video {
			display: none;
		}
		#musicLinks {
			transform: translate(0,0);
		}
	}
}
@media (max-width: 768px) {
	body {
		overflow: hidden;
	}
	#splash {
		background: url('../img/oxnard_albumn.jpg') no-repeat scroll center / cover #f7efe4;
		background-size: 75%;
		background-position: 50% 0;
		.half {
			width: 100%;
			display: block;
			transform: translate(0,-50px) scale(0.7);
		}
		#title {
			width: 80%;
			margin: 0 auto;
			padding: 50vh 0 0;
		}
		#video {
			display: none;
		}
		#musicLinks {
			transform: translate(0,0);
		}
	}
	#modal {
		h2 {
			font-size: 14pt;
			letter-spacing: 3px;
			line-height: 40px;
		}
		#music {
			width: 100%;
			transform: scale(1);
			.album {
				margin: 25px auto;
				display: block;
				&:last-child {
					padding-bottom: 150px;
				}
			}
		}
		#tour {
			transform: scale(1);
			&.show {
				justify-content: center;
			}
			ul {
				width: auto;
				padding-bottom: 0;
				li {
					width: 300px;
					margin: 25px auto;
					.wrap {
						width: auto;
						display: block;
						font-size: 10pt;
						margin: 10px 0;
						span {
							&.venue,
							&.date,
							&.location,
							&.continent {
								width: auto;
							}
							&.date {
								display: block;
								font-size: 14pt;
							}
							&.continent,
							&.location {
								display: inline-block;
							}
							&.continent {
								&:before {
									content: "-";
									display: inline-block;
									padding: 0 5px;
								}
							}
						}
					}
					.buy {
						width: 100%;
						display: block;
						margin: 0 auto;
						padding: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	html,
	body {
		overflow: hidden;
	}
	.showMobile {
		display: block !important;
	}
	.hideMobile {
		display: none !important;
	}
	nav {
		padding-top: 25px;
		background: none;
		&.open {
			pointer-events: none;
			.close {
				pointer-events: auto;
				transform: translate(0,0);
				transition: all 0.5s ease-in-out;
			}
			.navLinks {
				transform: translate(35vh,0);
				transition: all 0.5s ease-in-out;
			}
		}
		.navLinks {
			transform: translate(0,0);
			transition: all 0.5s ease-in-out;
		}
		.close {
			position: absolute;
			top: 25px;
			right: 25px;
			transform: translate(0,-100px);
			transition: all 0.5s ease-in-out;
			width: 25px;
			height: 25px;
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 3px;
				background: white;
				transform: translate(0,3px)rotate(45deg);
				border-radius: 3px;
			}
			&:after {
				content: "";
				display: block;
				width: 100%;
				height: 3px;
				background: white;
				transform: rotate(-45deg);
				border-radius: 3px;
			}
			&:hover {
				cursor: poiner !important;
			}
		}
		&.hideMobile {
			display: none !important;
		}
	}
	#stage {
		&.open {
			transform: translate(0,30vh);
		}
	}
	#container {
		&:after {
			content: "";
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			position: 10;
			height: 15vh;
			z-index: 10;
			background: linear-gradient(transparent, black);
		}
	}
	#splash {
		background: #f7efe4;
		overflow-y: scroll;
		.half {
			width: auto;
			height: auto;
			display: block;
			transform: translate(0,-50px) scale(1);
			#title {
				padding: 0;
				transform: translate(0,0);
				width: 100%;
			}
			#bgImage {
				width: 100%;
				max-width: 100%;
				transform: translate(0,75px);
			}
		}
		#musicLinks {
			position: relative;
			transform: translate(0,0) scale(0.8);
			white-space: nowrap;
			p {
				font-size: 16pt;
				letter-spacing: 1px;
				&.merchLink {
					font-size: 16pt;
					letter-spacing: 1px;
				}
			}
		}
		button {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
			line-height: 60px;
			margin: 0;
			padding: 0;
			background: #f7efe4;
		}
		#logoMarks {
			display: block;
			position: relative;
			width: 100%;
			bottom: 15px;
			left: 0;
			text-align: center;
			img {
				width: 40px;
			}
		}
	}
	#modal {
		display: block;
		h2 {
			font-size: 10pt;
			line-height: 40px;
			letter-spacing: 2px;
		}
		#music {
			padding: 0;
		}
		#tour {
			padding-top: 25px;
			&.show {
				justify-content: flex-start;
			}
			ul {
				li {
					width: 225px;
					.wrap {
						span {
							&.location,
							&.continent {
								display: inline-block;
								letter-spacing: 0;
							}
						}
					}
					.buy {
						line-height: 40px;
					}
				}
			}
		}
		#videos {
			overflow: hidden;
		}
	}
	#logo {
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		width: auto;
		text-align: left;
		display: block;
		z-index: 20;
		padding: 0;
		background: none;
		img {
			width: 75px;
		}
	}
	#social {
		position: relative;
		right: auto;
		top: auto;
		text-align: right;
		div {
			font-size: 6pt;
		}
		a {
			display: inline-block;
			margin: 0 8px;
			&#youtube {
				margin: 0;
				&.showMobile {
					display: inline-block !important;
				}
			}
		}
	}
	.emailForm {
		margin: 0 auto;
		padding: 0;
		display: block;
		bottom: 15px;
		width: 100%;
		text-align: center;
		input {
			margin-bottom: 10px;
		}
		.showMobile {
			color: white;
			text-transform: uppercase;
			font-size: 8pt;
			letter-spacing: 1px;
			vertical-align: middle;
			line-height: 18px;
			a {
				width: 40px;
				height: auto;
				margin: 0;
				padding: 0;
				display: inline-block;
				opacity: 0.35;
				img {
					width: 100%;
					vertical-align: middle;
				}
			}
		}
	}
}
@media (max-width: 375px) and (max-height: 812px) {
	#splash {
		background-size: 100%;
		background-position: 50% 25px;
		.half {
			width: auto;
			display: block;
			transform: translate(0,-50px);
			#title {
				transform: translate(0,-20px);
				width: 100%;
			}
		}
	}
}
@media (max-width: 375px) and (max-height: 667px) {
	#splash {
		background-size: 80%;
		background-position: 50% 25px;
		.half {
			width: auto;
			display: block;
			transform: translate(0,-50px);
			#title {
				transform: translate(0,-20px);
				width: 100%;
			}
		}
	}
}
@media (max-width: 320px) {
	#splash {
		.half {
			transform: translate(0,-60px);
		}
		#musicLinks {
			transform: translate(0,0);
			white-space: normal;
			box-sizing: border-box;
			padding: 0 15px;
		}
	}
}