$tint: #28292d;

@import url("https://use.typekit.net/kmp8rqf.css");
@font-face {
    font-family: Universe;
    src: url("../fonts/universe.otf") format("opentype");
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: #0d0d0d;
	font-family: "century-gothic", sans-serif;
	overflow: hidden;
}
a, button {
	font-family: "century-gothic", sans-serif;
	&:focus {
		outline: none;
	}
}
.showMobile {
	display: none;
}
.hideMobile {
	display: block;
}
.particles {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 100vh;
}
#container {
	opacity: 0;
	transition: all 2s ease-in-out;
	&.in {
		opacity: 1;
		transition: all 2s ease-in-out;
	}
}
#stage {
	position: absolute;
	height: 100vh;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: url('../img/bg.png') no-repeat scroll bottom center / cover;
	transition: all 0.8s ease-in-out;
	pointer-events: none;
	&.open {
		transform: translate(0,55vh);
		transition: all 1s ease-in-out;
	}
}
#splash {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	box-sizing: border-box;
	overflow: hidden;
	background: #f1ebdd;
	&.close {
		transform: translate(0,-100vh);
		transition: all 0.3s ease-in-out;
	}
	.half {
		width: 50%;
		height: 100vh;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;
	}
	#videoWrap {
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		width: auto;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50px;
			height: 100vh;
			z-index: 1;
			background: linear-gradient(to right, #f1ebdd, transparent);
		}
		#video {
			height: 100%;
		}
	}
	button {
		background: none;
		border: none;
		position: absolute;
		top: 25px;
		right: 25px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 5px;
		text-align: center;
		transition: all 0.3s ease-in-out;
		z-index: 999;
		font-weight: bold;
		&:hover {
			cursor: pointer;
			letter-spacing: 5.5px;
			transition: all 0.3s ease-in-out;
		}
	}
	.universe {
		font-family: "Universe", sans-serif;
		text-transform: uppercase;
		font-size: 21pt;
	}
	.cooper {
		font-family: "cooper-black-std", sans-serif;
		text-transform: uppercase;
		font-size: 24pt;
	}
	#intro {
		text-align: left;
		transform: translate(-250px,0);
		display: block;
	}
	#title {
		width: 100%;
		transform: translate(0,-50px);
	}
	#logoMarks {
		position: absolute;
		left: 25px;
		bottom: 25px;
		height: auto;
		z-index: 999;
		width: 200px;
		img {
			width: 45px;
			height: auto;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
		}
	}
	#musicLinks {
		display: block;
		text-align: center;
		transform: translate(0,-35px);
		p {
			text-transform: uppercase;
			letter-spacing: 6px;
			font-weight: bold;
			font-size: 14pt;
			margin: 0;
			&.merchLink {
				font-size: 44pt;
				letter-spacing: 1px;
			}
		}
		a {
			width: 275px;
			display: block;
			margin: 0 auto;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.image {
		position: relative;
		z-index: 1;
		video {
			border: none;
			height: auto;
		}
	}
}
#logo {
	position: fixed;
	left: 0;
	padding-left: 25px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	z-index: 99;
	pointer-events: none;
	background: linear-gradient(to right, rgba(0,0,0,0.5), transparent);
	img {
		width: 120px;
		height: auto;
	}
}
nav {
	position: fixed;
	top: 0;
	right: 0;
	padding-right: 25px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 12;
	pointer-events: none;
	background: linear-gradient(to left, rgba(0,0,0,0.5), transparent);
	&.hideMobile {
		display: flex !important;
	}
	button, a {
		display: block;
		border: none;
		background: none;
		color: white;
		margin: 0;
		padding: 0;
		font-size: 16pt;
		font-weight: bold;
		width: 150px;
		text-align: right;
		line-height: 40px;
		text-transform: uppercase;
		letter-spacing: 5px;
		transition: all 0.3s ease-in-out;
		text-decoration: none;
		pointer-events:auto;
		&:hover {
			cursor: pointer !important;
			color: #EFB123;
			transition: all 0.3s ease-in-out;
		}
		&.selected {
			color: #EFB123;
		}
	}
}
#social {
	position: fixed;
	top: 25px;
	right: 25px;
	z-index: 999;
	a {
		display: inline-block;
		margin: 0 8px;
		&#facebook {
			width: 10px;
			height: auto;
		}
		&#instagram {
			width: 18px;
			height: auto;
		}
		&#twitter {
			width: 22px;
			height: auto;
		}
		&#youtube {
			width: 55px;
			height: auto;
			margin: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
		&.showMobile {
			display: none;
		}
		&.hideMobile {
			display: inline-block;
		}
	}
}
#legal {
	position: fixed;
	bottom: 0;
	right: 25px;
	display: block;
	color: white;
	font-size: 8pt;
	letter-spacing: 3px;
	text-transform: uppercase;
	z-index: 20;
	text-align: right;
	span {
		font-size: 6pt;
		display: block;
		line-height: 25px;
		vertical-align: middle;
	}
	a {
		display: block;
		width: 40px;
		height: auto;
		display: inline-block;
		margin: 0 auto;
		text-align: right;
		opacity: 0.5;
		img {
			vertical-align: middle;
		}
	}
}
::placeholder {
    color: white;
    opacity: 1;
}
.emailForm {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 11;
	padding: 25px;
	transition: all 1s ease-in-out;
	-webkit-overflow-scrolling: touch;
	input {
		background: none;
		border: none;
		border-bottom: 1px solid white;
		width: 175px;
		line-height: 24px;
		transform: translate(0,-1px);
		color: white;
		border-radius: 0;
		&:focus {
			outline: none;
			background: none;
		}
	}
	button {
		border: 1px solid white;
		line-height: 24px;
		background: #0d0d0d;
		color: white;
		width: 125px;
		text-transform: uppercase;
		margin: 0 0 0 10px;
		padding: 0;
		letter-spacing: 4px;
		&:hover {
			cursor: pointer;
		}
	}
	p {
		color: #EFB123 !important;
		margin-bottom: 0;
		transition: all 1s ease-in-out;
	}
}
#modal {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	transform: translate(0,-100vh);
	transition: all 1s ease-in-out;
	opacity: 0;
	&.open {
		transform: translate(0,0);
		transition: all 1.5s ease-in-out;
		opacity: 1;
	}
	h2 {
		font-size: 12pt;
		color: white;
		letter-spacing: 5px;
		text-align: center;
		text-transform: uppercase;
		line-height: 80px;
		margin: 0;
		padding: 0;
		font-weight: bold;
	}
	#music,
	#videos,
	#photos,
	#tour {
		display: none;
		height: 100%;
		&.show {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
	}
	#music {
		text-align: center;
		min-height: 100%;
		text-align: center;
		box-sizing: border-box;
		padding: 0 200px 150px;
		width: 100%;
		transform: scale(1);
		overflow-y: scroll;
  		-webkit-overflow-scrolling: touch;
		&.show {
			display: block;
			justify-content: flex-start;
		}
		.album {
			display: inline-block;
			margin: 25px;
			width: 250px;
			text-align: center;
			margin: 25px 25px 0;
			img {
				max-width: 100%;
				display: block;
				margin: 0 auto;
			}
			a {
				width: 20px;
				height: auto;
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
				text-align: center;
				&.apple {
					width: 50px;
				}
			}
		}
	}
	#tour {
		width: 100%;
		box-sizing: border-box;
		overflow-y: scroll;
  		-webkit-overflow-scrolling: touch;
		ul {
			list-style: none;
			margin: 0 0 -100px;
			padding: 0;
			transform: scale(0.8);
			transform-origin: top center;
			li {
				color: white;
				text-transform: uppercase;
				font-size: 14pt;
				margin: 25px 0;
				font-weight: bold;
				letter-spacing: 2px;
				width: 100%;
				.wrap {
					display: table-cell;
					box-sizing: border-box;
					width: 50%;
					margin: 0;
					padding: 0;
					vertical-align: middle;
					span {
						display: inline-block;
						white-space: nowrap;
						margin: 0;
						paddign: 0;
					}
				}
				.date {
					width: 200px;
				}
				.venue {
					width: 250px;
					font-style: oblique;
					font-weight: lighter;
				}
				.location {
					width: 200px;
					text-align: left;
				}
				.country {
					width: 40%;
					text-align: center;
				}
				.buy {
					vertical-align: middle;
					width: 100px;
					background: #EFB123;
					text-decoration: none;
					color: black;
					font-size: 8pt;
					letter-spacing: 3px;
					display: inline-block;
					line-height: 50px;
					padding: 0 25px;
					margin: 0;
					text-align: center;
					display: table-cell;
					transition: all 0.3s ease-in-out;
					&:hover {
						background: lighten(#EFB123, 10%);
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}
	#photos {
		width: 100%;
		margin: 0 auto;
		overflow-y: scroll;
  		-webkit-overflow-scrolling: touch;
		&.show {
			align-items: flex-start;
			justify-content: flex-start;
		}
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
			height: auto;
		}
	}
	#videos {
		width: 100%;
		overflow: hidden;
		&.show {
			justify-content: center;
		}
		iframe {
			position: relative;
			z-index: 2;
		}
	}
}