@import url("https://use.typekit.net/kmp8rqf.css");
@font-face {
  font-family: Universe;
  src: url("../fonts/universe.otf") format("opentype"); }

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #0d0d0d;
  font-family: "century-gothic", sans-serif;
  overflow: hidden; }

a, button {
  font-family: "century-gothic", sans-serif; }
  a:focus, button:focus {
    outline: none; }

.showMobile {
  display: none; }

.hideMobile {
  display: block; }

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100vh; }

#container {
  opacity: 0;
  transition: all 2s ease-in-out; }
  #container.in {
    opacity: 1;
    transition: all 2s ease-in-out; }

#stage {
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: url("../img/bg.png") no-repeat scroll bottom center/cover;
  transition: all 0.8s ease-in-out;
  pointer-events: none; }
  #stage.open {
    transform: translate(0, 40vh);
    transition: all 1s ease-in-out; }

#splash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  box-sizing: border-box;
  overflow: hidden;
  background: url("../img/oxnard_albumn.jpg") no-repeat scroll right center/cover #f7efe4;
  background-size: 75%;
  background-position: 150% 50%; }
  #splash.close {
    transform: translate(0, -100vh);
    transition: all 0.3s ease-in-out; }
  #splash .half {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; }
  #splash button {
    background: none;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    font-weight: bold; }
    #splash button:hover {
      cursor: pointer;
      letter-spacing: 5.5px;
      transition: all 0.3s ease-in-out; }
  #splash img {
    width: 200px;
    height: auto;
    display: block; }
  #splash .universe {
    font-family: "Universe", sans-serif;
    text-transform: uppercase;
    font-size: 21pt; }
  #splash .cooper {
    font-family: "cooper-black-std", sans-serif;
    text-transform: uppercase;
    font-size: 24pt; }
  #splash #intro {
    text-align: left;
    transform: translate(-250px, 0);
    display: block; }
  #splash #title {
    width: 80%;
    transform: translate(0, -50px); }
  #splash #aftermath {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 50px;
    height: auto;
    z-index: 999; }
  #splash #musicLinks {
    display: block;
    text-align: center; }
    #splash #musicLinks p {
      text-transform: uppercase;
      letter-spacing: 8px;
      font-weight: bold;
      font-size: 18pt; }
    #splash #musicLinks a {
      width: 35px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px; }
      #splash #musicLinks a.apple {
        width: 75px; }
        #splash #musicLinks a.apple img {
          max-width: 90%; }
      #splash #musicLinks a img {
        max-width: 100%;
        vertical-align: middle; }
  #splash .image {
    position: relative;
    z-index: 1; }
    #splash .image video {
      border: none;
      height: auto; }

#logo {
  position: fixed;
  left: 0;
  padding-left: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }
  #logo img {
    width: 150px;
    height: auto; }

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 12;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }
  nav.hideMobile {
    display: flex !important; }
  nav button, nav a {
    display: block;
    border: none;
    background: none;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 16pt;
    font-weight: bold;
    width: 150px;
    text-align: right;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: all 0.3s ease-in-out;
    text-decoration: none; }
    nav button:hover, nav a:hover {
      cursor: pointer !important;
      color: #EFB123;
      transition: all 0.3s ease-in-out; }
    nav button.selected, nav a.selected {
      color: #EFB123; }

#social {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 15; }
  #social a {
    display: inline-block;
    margin: 0 10px; }
    #social a#facebook {
      width: 10px;
      height: auto; }
    #social a#instagram {
      width: 18px;
      height: auto; }
    #social a#twitter {
      width: 22px;
      height: auto; }
    #social a#youtube {
      width: 55px;
      height: auto;
      margin: 0 5px; }
    #social a img {
      width: 100%;
      height: auto; }
  #social .showMobile {
    font-size: 10pt;
    line-height: 25px;
    vertical-align: middle;
    color: white;
    text-align: center;
    opacity: 0.5; }

#legal {
  position: fixed;
  bottom: 0;
  right: 25px;
  opacity: 0.5;
  display: block;
  color: white;
  font-size: 8pt;
  letter-spacing: 3px;
  text-transform: uppercase;
  z-index: 20;
  text-align: right; }
  #legal span {
    font-size: 6pt;
    display: block;
    line-height: 25px;
    vertical-align: middle; }
  #legal a {
    display: block;
    width: 40px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    opacity: 0.35;
    text-align: right; }
    #legal a img {
      vertical-align: middle; }

#modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transform: translate(0, -100vh);
  transition: all 1s ease-in-out;
  opacity: 0; }
  #modal.open {
    transform: translate(0, 0);
    transition: all 1.5s ease-in-out;
    opacity: 1; }
  #modal h2 {
    font-size: 16pt;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    margin: 0;
    padding: 0;
    font-weight: bold; }
  #modal #music,
  #modal #videos,
  #modal #photos,
  #modal #tour {
    display: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%; }
    #modal #music.show,
    #modal #videos.show,
    #modal #photos.show,
    #modal #tour.show {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  #modal #music {
    text-align: center;
    min-height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 200px 150px;
    width: 100%;
    transform: scale(1); }
    #modal #music.show {
      display: block;
      justify-content: flex-start; }
    #modal #music .album {
      display: inline-block;
      margin: 25px;
      width: 250px;
      text-align: center;
      margin: 25px; }
      #modal #music .album img {
        max-width: 100%;
        display: block;
        margin: 0 auto; }
      #modal #music .album a {
        width: 25px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        text-align: center; }
        #modal #music .album a.apple {
          width: 50px; }
  #modal #tour {
    width: 100%;
    transform: translate(0, -50px); }
    #modal #tour ul {
      width: 1200px;
      list-style: none;
      margin: 0;
      padding: 0; }
      #modal #tour ul li {
        color: white;
        text-transform: uppercase;
        font-size: 14pt;
        margin: 25px 0;
        font-weight: bold;
        letter-spacing: 2px;
        width: 100%; }
        #modal #tour ul li .wrap {
          display: table-cell;
          box-sizing: border-box;
          width: 50%;
          margin: 0;
          paddign: 0; }
          #modal #tour ul li .wrap span {
            display: inline-block;
            white-space: nowrap;
            margin: 0;
            paddign: 0; }
        #modal #tour ul li .date {
          width: 200px; }
        #modal #tour ul li .venue {
          width: 300px;
          font-style: oblique;
          font-weight: lighter; }
        #modal #tour ul li .location {
          width: 50%;
          text-align: left; }
        #modal #tour ul li .continent {
          width: 50%;
          text-align: left; }
        #modal #tour ul li .buy {
          width: 100px;
          background: #EFB123;
          text-decoration: none;
          color: black;
          font-size: 8pt;
          letter-spacing: 3px;
          display: inline-block;
          line-height: 60px;
          padding: 0 25px;
          text-align: center;
          display: table-cell;
          transition: all 0.3s ease-in-out; }
          #modal #tour ul li .buy:hover {
            background: #f2c253;
            transition: all 0.3s ease-in-out; }
  #modal #photos {
    width: 100%;
    margin: 0 auto; }
    #modal #photos.show {
      align-items: flex-start;
      justify-content: flex-start; }
    #modal #photos img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      height: auto; }
  #modal #videos {
    width: 100%; }
    #modal #videos.show {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
    #modal #videos .slide {
      margin: 0 auto; }
      #modal #videos .slide iframe {
        width: 854px;
        height: 480px; }
      #modal #videos .slide:last-child {
        padding-bottom: 15vh; }

@media (max-width: 1600px) {
  #tour {
    transform: scale(0.7); } }

@media (max-width: 1440px) {
  #splash .half {
    transform: scale(0.8); }
  #modal #tour {
    transform: scale(0.7) translate(0, -75px); } }

@media (max-width: 1280px) {
  #modal #tour {
    transform: scale(0.7); }
    #modal #tour ul {
      width: auto; } }

@media (max-width: 1024px) {
  #splash .half {
    transform: scale(0.5); }
  #modal #tour {
    transform: scale(1); }
    #modal #tour.show {
      justify-content: flex-start; }
    #modal #tour ul {
      width: auto;
      padding-bottom: 150px; }
      #modal #tour ul li {
        width: 300px;
        margin: 25px auto; }
        #modal #tour ul li .wrap {
          width: auto;
          display: block;
          font-size: 10pt;
          margin: 10px 0; }
          #modal #tour ul li .wrap span.venue, #modal #tour ul li .wrap span.date, #modal #tour ul li .wrap span.location, #modal #tour ul li .wrap span.continent {
            width: auto; }
          #modal #tour ul li .wrap span.date {
            display: block;
            font-size: 14pt; }
          #modal #tour ul li .wrap span.continent, #modal #tour ul li .wrap span.location {
            display: inline-block; }
          #modal #tour ul li .wrap span.continent:before {
            content: "-";
            display: inline-block;
            padding: 0 5px; }
        #modal #tour ul li .buy {
          width: 100%;
          display: block;
          margin: 0 auto;
          padding: 0; } }

@media (max-width: 768px) {
  body {
    overflow: hidden; }
  #splash {
    background-size: 75%;
    background-position: 50% 60%; }
    #splash .half {
      width: 100%;
      transform: translate(0, -50px) scale(0.7); }
    #splash #musicLinks {
      transform: translate(0, 200px); }
  #modal h2 {
    font-size: 14pt;
    letter-spacing: 3px;
    line-height: 40px; }
  #modal #music {
    width: 100%;
    transform: scale(1); }
    #modal #music .album {
      margin: 25px auto;
      display: block; }
      #modal #music .album:last-child {
        padding-bottom: 150px; }
  #modal #videos {
    margin: 0 auto;
    overflow: scroll; }
    #modal #videos .slide iframe {
      width: 640px;
      height: 385px; }
    #modal #videos .slide:last-child {
      padding-bottom: 150px; }
  #modal #tour {
    transform: scale(1); }
    #modal #tour.show {
      justify-content: center; }
    #modal #tour ul {
      width: auto;
      padding-bottom: 150px; }
      #modal #tour ul li {
        width: 300px;
        margin: 25px auto; }
        #modal #tour ul li .wrap {
          width: auto;
          display: block;
          font-size: 10pt;
          margin: 10px 0; }
          #modal #tour ul li .wrap span.venue, #modal #tour ul li .wrap span.date, #modal #tour ul li .wrap span.location, #modal #tour ul li .wrap span.continent {
            width: auto; }
          #modal #tour ul li .wrap span.date {
            display: block;
            font-size: 14pt; }
          #modal #tour ul li .wrap span.continent, #modal #tour ul li .wrap span.location {
            display: inline-block; }
          #modal #tour ul li .wrap span.continent:before {
            content: "-";
            display: inline-block;
            padding: 0 5px; }
        #modal #tour ul li .buy {
          width: 100%;
          display: block;
          margin: 0 auto;
          padding: 0; } }

@media (max-width: 414px) {
  .showMobile {
    display: block !important; }
  .hideMobile {
    display: none !important; }
  nav {
    padding-top: 25px;
    background: none; }
    nav.open {
      pointer-events: none; }
      nav.open .close {
        pointer-events: auto;
        transform: translate(0, 0);
        transition: all 0.5s ease-in-out; }
      nav.open .navLinks {
        transform: translate(25vh, 0);
        transition: all 0.5s ease-in-out; }
    nav .navLinks {
      transform: translate(0, 0);
      transition: all 0.5s ease-in-out; }
    nav .close {
      position: absolute;
      top: 25px;
      right: 25px;
      transform: translate(0, -100px);
      transition: all 0.5s ease-in-out;
      width: 25px;
      height: 25px; }
      nav .close:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: white;
        transform: translate(0, 3px) rotate(45deg);
        border-radius: 3px; }
      nav .close:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: white;
        transform: rotate(-45deg);
        border-radius: 3px; }
      nav .close:hover {
        cursor: poiner !important; }
    nav.hideMobile {
      display: none !important; }
  #stage.open {
    transform: translate(0, 30vh); }
  #container:after {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: 10;
    height: 15vh;
    z-index: 10;
    background: linear-gradient(transparent, black); }
  #splash {
    background: url("../img/oxnard_albumnMobile.jpg") no-repeat scroll right center/cover #f7efe4;
    background-position: 50% 0;
    background-size: 100%; }
    #splash .half {
      padding-top: 60vh;
      width: auto;
      display: block;
      transform: translate(0, -50px) scale(0.7); }
      #splash .half #title {
        transform: translate(0, -20px);
        width: 100%; }
    #splash #musicLinks {
      position: relative;
      transform: translate(0, 0);
      white-space: nowrap; }
      #splash #musicLinks p {
        font-size: 12pt; }
      #splash #musicLinks a.apple {
        width: 75px; }
    #splash button {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      line-height: 60px;
      margin: 0;
      padding: 0; }
    #splash #aftermath {
      position: relative;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50px); }
  #modal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: block; }
    #modal h2 {
      font-size: 10pt;
      line-height: 40px;
      letter-spacing: 2px; }
    #modal #music {
      padding: 0; }
    #modal #videos {
      padding-top: 25px; }
      #modal #videos .slide {
        margin: 0;
        width: 100%; }
        #modal #videos .slide iframe {
          width: 100%;
          height: 200px; }
    #modal #tour {
      padding-top: 25px; }
      #modal #tour.show {
        justify-content: flex-start; }
      #modal #tour ul li {
        width: 225px; }
        #modal #tour ul li .wrap span.location, #modal #tour ul li .wrap span.continent {
          display: inline-block;
          letter-spacing: 0; }
        #modal #tour ul li .buy {
          line-height: 40px; }
  #logo {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    text-align: left;
    display: block;
    z-index: 20;
    padding: 0;
    background: none; }
    #logo img {
      width: 75px; }
  #social {
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0) scale(0.9);
    white-space: nowrap; }
    #social div {
      font-size: 6pt; }
    #social .showMobile.sign {
      text-transform: uppercase;
      font-size: 8pt;
      letter-spacing: 1px;
      vertical-align: middle; }
      #social .showMobile.sign a {
        width: 40px;
        height: auto;
        margin: 0;
        padding: 0; }
        #social .showMobile.sign a img {
          vertical-align: middle; }
  #legal {
    bottom: 10px;
    right: 15px; }
    #legal a {
      transform: translate(0, 0); } }

@media (max-width: 375px) and (max-height: 812px) {
  #splash {
    background-position: 50% 15%; }
    #splash .half {
      width: auto;
      display: block;
      transform: translate(0, -50px) scale(0.7); }
      #splash .half #title {
        transform: translate(0, -20px);
        width: 100%; } }

@media (max-width: 375px) and (max-height: 667px) {
  #splash {
    background-position: 50% 0; }
    #splash .half {
      width: auto;
      display: block;
      transform: translate(0, -50px) scale(0.7); }
      #splash .half #title {
        transform: translate(0, -20px);
        width: 100%; } }

@media (max-width: 320px) {
  #splash .half {
    transform: translate(0, -60px) scale(0.6); }
  #splash #musicLinks {
    transform: translate(-25px, 0); }
  #splash #aftermath {
    width: 25px;
    hieght: auto; } }
